html,
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#message-pane {

    background-image: url("/assets/images/chess.jpg");
    background-color: #41f4e5;
    background-repeat: no-repeat;
    background-size: cover;
}

#form-card {
    margin: : 0px;
}



.material-icons {
    font-size: 50px !important;
}

.message-card {
    max-width: 75%;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
}